.productTab{
    width: 100%;
    height: max-content;
    padding: 0vh 20vh;
    margin-bottom:5vh;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.productTab-head{
    padding: 0vh 20vh;
}